<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="{{chat.name}}">
VA?
<img ng-src="img/perry.png" ng-click="RealizarAccion({{jug.id}})">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>
      {{chat.lastText}}
    </p>
  </ion-content>
</ion-view>







 <table>
          <tr>
            <img ng-src="{{jugador.face}}" style="width: 64px; height: 64px">
          </tr>
          <tr>
            <td>
              <button class="button button-icon icon ion-document-text"
              ng-click="guardarDatos()"></button>
            </td>
            <td>
              <p>
              <label class="item item-input" width=50px>
                <input type="text" placeholder="{{jugador.nombre}}">
              </label>
              
               </p>
                <p>Puntos:    <b>{{jugador.puntos}}</b> &nbsp;&nbsp;&nbsp;Faltas:  <b>{{jugador.faltas}}</b></p>
            </td>
            
          </tr>

        </table>