<ion-view view-title="{{Titulo()}}">

  
    <ion-content>


      
       <!-- <div class="bar bar-header bar-royal"  ng-show="Opcion != 'T'">    -->
      <a class="item item-thumbnail-left" ng-show="Opcion != 'T'" href="#">
          
        <table>
          <tr>
            <img ng-src="{{jugador.face}}" style="width: 64px; height: 64px">
          </tr>
          <tr>
            <td>
              <button class="button button-icon icon ion-document-text"
              ng-click="guardarDatos()"></button>
            </td>
            <td>
              <p>
              <label class="item item-input" width=50px>
                <input type="text" placeholder="{{jugador.nombre}}">
              </label>
              
               </p>
                <p>Puntos:    <b>{{jugador.puntos}}</b>     Faltas:  <b>{{jugador.faltas}}</b>    </p>
            </td>
          </tr>
        </table>

      </a>
       
      <a class="item" ng-show="Opcion == 'T'" >
               
        <div class="row" >         
         <div class="col col-50" align="left">
            <label class="item  item-select">
 
              <select>
                <option selected="">Todos</option>
                <option>Primero</option>
                <option>Segundo</option>
                <option>Tercero</option>
                <option>Cuarto</option>
              </select>
            </label>




          </div>           
          
          <div class="col col-50">
              <label class="item item-select">
                <select>
                  <option>Ambos</option>
                  <option>Local</option>
                  <option selected>Visitante</option>
                </select>
              </label>
          </div>   
        </div>
          
        <!--




 <label class="item item-input item-select"> 
              




            <div class="col col-50" class="list">

              

             -->

      </a>         
                
              
      




          




        <div class="row" >
                <div class="col col-10" align="center">Per.</div>
                <div class="col col-10" align="center">Equ.</div>
                <div class="col col-50" align="left" ng-show="Opcion=='T'">Nombre</div>
                <div class="col col-20" align="left">Acc</div>
                <div class="col col-10" align="left" >Val</div>
        </div>


        <ion-item class="item"  ng-repeat="his in ElHistorico  | orderBy:'-hora'" type="item-text-wrap" >




            <div class="row" >
              <div class="col col-10" align="left">{{his.Periodo}}</div>
              <div class="col col-10" align="left">{{his.Equipo}}</div>

              <div class="col col-50" ng-show="Opcion=='T'" align="left" ng-init="AuxId=NombreJugador(his.Equipo,his.id);">
                 
                  {{AuxId}} 
              </div>

              <div class="col col-20" align="left" ng-init="vAccion=LaAccion(his.Accion);">{{vAccion}}</div>
              <div class="col col-10" align="left">{{his.puntos}}</div>
            </div>

        
          </ion-item>      



    </ion-list>





    </ion-content>

</ion-view>
