<ion-view view-title="Visitante">
  <ion-content >
    

        <div class="row">
            <div class="col col-33">Equipo&nbsp;&nbsp;&nbsp;&nbsp;
                <img ng-src="img/save.png" ng-click="guardarDatos()" style="width: 15px; height: 15  px">
            </div>
            
            <input type="text" ng-model="data.Nombre" value="{{data.Nombre}}" >
        </div>

        

      <li class="item item-toggle">
          Habilitar cambios
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="value" ng-click="toggleChange()" >
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>







    <ion-list  show-reorder="data.showReorder">  
        <div class="item item-divider"><h2>Puntos: {{PuntosEquipo}} &nbsp;&nbsp;&nbsp;Faltas: {{FaltasEquipo}}</h2></div>
        <ion-item class="item-remove-animate item-avatar item-icon-right" can-swipe="true" ng-repeat="jug in EquipoVisitante  | orderBy:'orden'" type="item-text-wrap" >



          <img ng-src="{{jug.face}}"> 
          <h2>{{jug.nombre}}</h2>
           <p ng-if="jug.visible != true">Oculto</p>
           <p>Puntos:    <b>{{jug.puntos}}</b> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Faltas:  <b>{{jug.faltas}}</b></p>
          <ion-reorder-button class="ion-navicon" on-reorder="moveItem(jug, $fromIndex, $toIndex)"></ion-reorder-button>
          <span ng-if="data.showReorder == false">

           <a href="#/tab/visitante/:V{{jug.id}}">
            <i class="icon ion-person">
            </i>
            </a>
            
          </span>
        </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
