<ion-view view-title="Local">
  <ion-content>
    
       
   
        <div class="row">
            <div class="col col-50">Equipo&nbsp;&nbsp;&nbsp;&nbsp;
               <img ng-src="img/save.png" ng-click="guardarDatos()" style="width: 15px; height: 15  px">
            </div>
            
            <div class="col col-20">Cambio</div>
        </div>


          <div class="row">
            <div class="col col-50">                  
                    <ion-label><input type="text" ng-style="{ 'background' : bgColor }" value="{{Nombre}}"> </ion-label>                         
            </div>
        
            <div class="col col-20" style="padding:2">
              <ion-toggle ng-model=value ng-change="toggleChange()" style="padding:2;" ></ion-toggle>  </div>
        </div>




    <ion-list  show-reorder="data.showReorder">  
     
        <div class="item item-divider"><h2>Puntos: {{PuntosEquipo}} &nbsp;&nbsp;&nbsp;Faltas: {{FaltasEquipo}}</h2></div>
        <ion-item class="item-remove-animate item-avatar item-icon-right" can-swipe="true" ng-repeat="jug in EquipoLocal  | orderBy:'orden'" type="item-text-wrap" >



          <img ng-src="{{jug.face}}"> 
          <h2>{{jug.nombre}}</h2>
          <p>Puntos:    <b>{{jug.puntos}}</b> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Faltas:  <b>{{jug.faltas}}</b></p>

          <ion-reorder-button class="ion-navicon" on-reorder="moveItem(jug, $fromIndex, $toIndex)"></ion-reorder-button>
          <span ng-if="data.showReorder == false">

           <a href="#/tab/chats/:L{{jug.id}}">
            <i class="icon ion-person">
            </i>
            </a>
            
          </span>
        </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
