<ion-view view-title="{{Titulo()}}">

  
    <ion-content>


      
       <!-- <div class="bar bar-header bar-royal"  ng-show="Opcion != 'T'">    -->
      <a class="item item-thumbnail-left" ng-show="Opcion != 'T'" href="#">
          
        <table>
          <tr>
            <img ng-src="{{jugador.face}}" style="width: 64px; height: 64px">
          </tr>
          <tr>
            <td>
              <button class="button button-icon icon ion-document-text"
              ng-click="guardarDatos()"></button>
            </td>
            <td>
              <p>
              <label class="item item-input" width=50px>
                <input type="text" placeholder="{{jugador.nombre}}">
              </label>
              
               </p>
                <p>Puntos:    <b>{{jugador.puntos}}</b>     Faltas:  <b>{{jugador.faltas}}</b>    </p>
            </td>
          </tr>
        </table>

      </a>
               
                
              
      




          




        <div class="row" >
                <div class="col col-10">Per.</div>
                <div class="col col-10">Equ.</div>
                <div class="col col-10">Jug</div>
                <div class="col col-33">Nombre</div>
                <div class="col col-20">Acc</div>
                <div class="col col-10">Jug</div>
        </div>
          {{NombreJugador(1)}}  

        <ion-item class="item-remove-animate item-avatar item-icon-right"  ng-repeat="his in ElHistorico  | orderBy:'-hora'" type="item-text-wrap">




            <div class="row" >
              <div class="col col-10">{{his.Periodo}}</div>
              <div class="col col-10">{{his.Equipo}}</div>
              <div class="col col-10">{{his.id}}</div>

              <div class="col col-33">
                
               <!-- {{NombreJugador({{his.id}})}}  + {{his.id}} -->
                
              
                
                
              </div>
              <div class="col col-20">{{his.Equipo}}</div>
              <div class="col col-10">{{his.Equipo}}</div>
            </div>

        
          </ion-item>      


<!-- 
          <tr>
            <td data-label="Payment">{{his.Equipo}}</td>
            <td data-label="Issue Date">{{his.Jug}}</td>
            <td data-label="Amount">{{his.Jug}}</td>
            <td data-label="Period">{{his.Jug}}</td>
            <td data-label="Period">{{his.Jug}}</td>
          </tr>
        </ion-item>
 -->



    </ion-list>





    </ion-content>

</ion-view>
