<ion-view view-title="Marcador">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">{{Queperiodo}}</div>
   
      <div class="row" class="item item-body">          
        <div class="col col-50"  align="center">
          <h1>
              {{QueMinuto}}
          </h1>
        </div>
        <div class="col col-10"></div>
        <div class="col col-20">
            <img ng-src="img/play.png"  style="width: 30px; height: 30px">
        </div>     
        <div class="col col-20">
            <img ng-src="img/pause.png"  style="width: 30px; height: 30px">
        </div>   
        
      </div>
      <div class="row" class="item item-body">        
        <div class="col">
            <div class="item range range-positive">
              <i class="icon ion-pinpoint"></i>
                <input type="range" ng-model="Data.Minuto" ng-change="CambioSlide(valor)" name="valor" min="0" max="100" >
              <i class="ion-clock"></i>
            </div>
        </div>               
      </div>
      <div class="row" class="item item-body">        
        <div class="col col-67">
          {{Queperiodo}}
        </div>
        <div class="col col-10">
            <img ng-src="img/izq.png" ng-click="CambiarCuarto(-1)" style="width: 30px; height: 30px">
        </div>     
        <div class="col col-10">
            <img ng-src="img/der.png"  ng-click="CambiarCuarto(1)" style="width: 30px; height: 30px">
        </div>   
      </div>

      <div class="item item-divider">{{EquipoLocalNombre}}
        <span class="badge badge-assertive" ng-if="LocalMas4 == true">4</span>
      </div>
           

          <div class="row" class="item item-body">
            <div class="col col-20">
              <a href="#/tab/dash/:00_1">
                <img ng-src="img/balon1.png"  style="width: 60px; height: 60px">
              </a>
            </div>
            
                 
            <div class="col col-20" >
              <a href="#/tab/dash/:00_2">
                <img ng-src="img/balon2.png"  style="width: 60px; height: 60px">
              </a>
            </div>
            <div class="col col-20" >
              <a href="#/tab/dash/:00_3">
                <img ng-src="img/balon3.png"  style="width: 60px; height: 60px">
              </a>
  
            </div>
                        
            <div class="col col-20" >
              <a href="#/tab/dash/:10">
                <img ng-src="img/Juga1.png"  style="width: 60px; height: 60px">
              </a>
              
            </div>  
            <div class="col col-20"  align="right">
                <h1>{{EquipoLocalPuntos}}</h1>
            </div>
          </div>

        <div class="item item-body"></div> 
        <div class="item item-divider">{{EquipoVisitanteNombre}}

          <span class="badge badge-assertive" ng-if="VisitanteMas4 == true">4</span>
        </div>
        
          <div class="row" class="item item-body">

             <div class="col col-20">
              <a href="#/tab/dash/:01_1">
                <img ng-src="img/balon1.png"  style="width: 60px; height: 60px">
              </a>
            </div>
            <div class="col col-20" >
              <a href="#/tab/dash/:01_2">
                <img ng-src="img/balon2.png"  style="width: 60px; height: 60px">
              </a>
            </div>
            <div class="col col-20" >
              <a href="#/tab/dash/:01_3">
                <img ng-src="img/balon3.png"  style="width: 60px; height: 60px">
              </a>
  
            </div>
                        
            <div class="col col-20" >
              <a href="#/tab/dash/:11">
                <img ng-src="img/Juga1.png"  style="width: 60px; height: 60px">
              </a>
              
            </div>     
            <div class="col col-20"  align="right">
                <h1>{{EquipoVisitantePuntos}}</h1>
            </div>

          </div>
        


      </div>



     
    </div>
  </ion-content>
</ion-view>
 