/* Empty. Add your own CSS if you like */
.odd {
  background: gray;
  color: white;
}
.even {
  background: white;
  color: black;
}


.header .col {
  background-color:lightgrey;
}


.sinborde {
    border: 0px
} 



